@tailwind base;
@tailwind components;
@tailwind utilities;

/* Normal dot */
/* .custom-carousel-dots .slick-dots li button {
  background-color: white !important;
  opacity: 0.6;
} */

/* Active dot */
.ant-carousel .slick-dots li::after {
  background-color: #df1111 !important; /* Tailwind's yellow-400 */
  opacity: 1;
}

/* Apply perspective to the container */
.perspective {
  perspective: 1000px;
}

/* Enable 3D transform style on the rotating element */
.preserve-3d {
  transform-style: preserve-3d;
}

/* Hide the backface so it doesn’t show when flipped */
.backface-hidden {
  backface-visibility: hidden;
}

/* Rotate utility */
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Ensure card flips on group hover */
.group:hover .rotate-card {
  transform: rotateY(180deg);
}

.ant-drawer-body{
    padding: 0px !important;
}


/* شيل النقاط الافتراضية */
.ql-editor ul,
.ql-editor ol {
  list-style: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important; /* لو محتوى RTL */
  margin: 0;
}

/* مسافات جميلة بين العناصر */
.ql-editor li {
  margin: 8px 0;
}

.ql-editor ul > li::before,
.ql-editor ol > li::before {
  content: none !important;
}

